img {
  width: 200px;
}

.mouse-1 {
  border-radius: 10px;
  height: 125px;
  object-fit: cover;
  object-position: bottom;
}
.mouse-2 {
  height: 200px;
  object-fit: cover;
}

.mouse-3 {
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}