img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.card-grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  padding: 20px;
  column-gap: 20px;
}

.card-1, .card-2, .card-3 {
  display: grid;
  grid-template-rows: 200px max-content 40px max-content;
  row-gap: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.card-username, .mutual-friend-grid, .add-friend{
  margin-left: 12px;
}

.card-username {
  font-weight: bold;
  font-size: 20px;
}

.mutual-friend-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
  vertical-align: middle;
}

.card-mutual-friend-img {
  height: 40px;
}

.mutual-friend-img {
  border-radius: 50%;
}

.add-friend {
  width: 140px;
  height: 40px;
  margin-bottom: 10px;
}

.add-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: #3975E9;
  color: white;
  font-size: 15px;
}