p {
  font-family: Arial;
  margin-bottom: 0px;
  margin-top: 0px;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 25px;
}

.video-stats {
  margin-top: 5px;
  font-size: 15px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-top: 20px;
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.video-description {
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 14px;
  line-height: 22px;
  color: rgb(96, 96, 96);
  width: 280px;
}

.apple-text {
  font-size: 14px;
  color: white;
  background-color: rgb(227, 65, 64);
  text-align: center;
  padding: 18px;
}

.shop-link:hover {
  text-decoration: underline;
  cursor: pointer;
}