img {
  width: 500px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.input {
  border: none;
  font-family: Roboto;
  width: 700px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 25px;
  height: 50px;
  display: block;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 0px 10px 0px 25px;
  font-size: 20px;
}

.button {
  display: block;
  text-align: center;
  margin: 50px;
}

.search-button, .lucky-button {
  padding: 20px 25px;
  margin: 5px;
  border: none;
  font-size: 20px;
}