.google-logo {
  width: 400px;
  height: 150px;
  object-fit: cover;
  object-position: centere;
  display: block;
  margin: 0 auto;
}

.search-bar {
  display: block;
  margin: 5px auto;
  width: 700px;
  height: 50px;
  border:none;
  border-radius: 25px;
  padding-left: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}