.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: aliceblue;
  border: none;
  height: 30px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
}

.join-button {
  background-color: white;
  color: rgb(6, 95, 212);
  height: 30px;
  width: 65px;
  border-width: 1px;
  border-radius: 3px;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  cursor: pointer;
  margin-left: 8px;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}